[api]
mail_from={{mail_from}}
{% if mode != 'lambda' -%}
consumer_key={{ twitter_consumer_key }}
consumer_secret={{ twitter_consumer_secret }}
access_token_key={{ twitter_access_token_key }}
access_token_secret={{ twitter_access_token_secret }}
smtp_host=localhost
smtp_port=25
{% endif %}

{% for item in topics %}
[{{ item.topic }}]
users={{ item.users }}
mailto={{ item.mailto }}
subject={{ item.subject }}
{% if item.remove_query_string is defined -%}
remove_query_string={{ item.remove_query_string }}
{% endif %}
{% if item.remove_text is defined -%}
remove_text={{ item.remove_text }}
{% endif %}
{% if item.remove_tweets is defined -%}
remove_tweets={{ item.remove_tweets }}
{% endif %}

{% endfor %}
